@import "tailwindcss";

.bottom-left-text {
    text-align: right !important; 
    align-self: flex-end !important;
    margin-left: auto !important;
    margin-right: 0 !important;
    width: 100%; 
    display: block;
    margin-top: 120px;
    color: #333;
}
html {
  overflow-y: scroll;
}